{% extends "_base.html" %}
{% load i18n %}
{% block content %}
{% load thumbnail_tags %}
{% load static %}

<integreat-media-management 
    class="w-full h-full" 
    data-edit-media-url="{% url 'mediacenter_edit_url' region_slug=region.slug %}"
    data-get-directory-content="{% url 'mediacenter_get_directory_content' region_slug=region.slug %}" 
    data-create-directory-url="{% url 'mediacenter_create_directory' region_slug=region.slug %}"
    data-upload-file-url="{% url 'mediacenter_upload_file' region_slug=region.slug %}"
></integreat-media-management>

{% endblock %}